In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import requests
import matplotlib.pyplot as plt

base_path = 'C:/Users/언종/Desktop/data'

# 각 데이터 파일 불러오기
weather_forecast_1 = pd.read_csv(f'{base_path}/기상예측데이터_1.csv')
weather_forecast_2 = pd.read_csv(f'{base_path}/기상예측데이터_2.csv')
weather_actual_1 = pd.read_csv(f'{base_path}/기상실측데이터_1.csv')
weather_actual_2 = pd.read_csv(f'{base_path}/기상실측데이터_2.csv')
price_real_time = pd.read_csv(f'{base_path}/제주전력시장_시장전기가격_실시간가격.csv')
price_day_ahead = pd.read_csv(f'{base_path}/제주전력시장_시장전기가격_하루전가격.csv')
market_status = pd.read_csv(f'{base_path}/제주전력시장_현황데이터.csv')

In [2]:
price_day_ahead

              ts  하루전가격(원/kWh)
0     1709218800        107.39
1     1709222400        107.39
2     1709226000         95.30
3     1709229600         87.89
4     1709233200          0.00
...          ...           ...
5660  1729594800        156.68
5661  1729598400        152.54
5662  1729602000        106.92
5663  1729605600        150.97
5664  1729609200        121.78

[5665 rows x 2 columns]

In [3]:
price_real_time = price_real_time.rename(columns={
    '실시간 임시 가격(원/kWh)': 'smp_rt',
    '실시간 확정 가격(원/kWh)': 'smp_rc'
})

market_status = market_status.rename(columns={
    '공급능력(kW)': 'supply_power',
    '현재 수요(kW)': 'present_load',
    '태양광 발전량kW)': 'power_solar',
    '풍력 발전량(kW)': 'power_wind',
    '신재생 발전량 총합(kW)': 'renewable_energy_total',
    '공급 예비력(kW)': 'supply_capacity',
    '운영 예비력(kW)': 'operation_capacity'
})

price_day_ahead = price_day_ahead.rename(columns={
    '하루전가격(원/kWh)' : 'smp_da'
})

In [4]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29', '2024-10-30']

data_frames = []

token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzI5NTgzOTkyLCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.2Y10TiejY2YYCZvaMP1k2F4Xl4m9aLQIHBd5yTwhnuA"
headers = {
    'Authorization': f'Bearer {token}'
}

for date in dates:
    response = requests.get(f'https://research-api.solarkim.com/data/cmpt-2024/elec-supply/{date}', headers=headers)
    daily_data = response.json()
    daily_df = pd.DataFrame(daily_data)
    data_frames.append(daily_df)

elec_combined_df = pd.concat(data_frames, ignore_index=True)
elec_combined_df

,ts,supply_power,present_load,power_solar,power_wind,renewable_energy_total,supply_capacity,operation_capacity
0,1729609500,1254000.0,604000.0,0.0,252669.0,261110.0,644000.0,301000.0
1,1729609800,1260000.0,594000.0,0.0,254414.0,262771.0,661000.0,313000.0
2,1729610100,1258000.0,589000.0,0.0,253042.0,261438.0,664000.0,312000.0
3,1729610400,1245000.0,583000.0,0.0,239697.0,248055.0,657000.0,310000.0
4,1729610700,1243000.0,574000.0,0.0,235746.0,244142.0,665000.0,309000.0
...,...,...,...,...,...,...,...,...
2289,1730298900,1313000.0,609000.0,0.0,103703.0,116245.0,699000.0,426000.0
2290,1730299200,1309000.0,603000.0,0.0,99140.4,112941.0,701000.0,425000.0
2291,1730299500,1309000.0,599000.0,0.0,98903.0,112035.0,706000.0,433000.0
2292,1730299800,1313000.0,594000.0,0.0,100841.0,115570.0,714000.0,439000.0
2293,1730300400,1287000.0,586000.0,0.0,77010.9,89932.4,696000.0,424000.0

In [5]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29']

data_frames = []

token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzI5NTgzOTkyLCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.2Y10TiejY2YYCZvaMP1k2F4Xl4m9aLQIHBd5yTwhnuA"
headers = {
    'Authorization': f'Bearer {token}'
}

for date in dates:
    response = requests.get(f'https://research-api.solarkim.com/data/cmpt-2024/smp-rt-rc/{date}', headers=headers)
    daily_data = response.json()
    daily_df = pd.DataFrame(daily_data)
    data_frames.append(daily_df)

smp_rt_rc_combined_df = pd.concat(data_frames, ignore_index=True)
smp_rt_rc_combined_df

             ts  smp_rt  smp_rc
0    1729610100  100.23  100.23
1    1729611000  100.23  100.23
2    1729611900  100.23  100.23
3    1729612800  100.23  100.23
4    1729613700   92.35   92.35
..          ...     ...     ...
667  1730210400  116.36  116.36
668  1730211300  116.51  116.51
669  1730212200  116.51  116.51
670  1730213100  116.51  116.51
671  1730214000  116.51  116.51

[672 rows x 3 columns]

In [6]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29','2024-10-30']

data_frames = []

token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzI5NTgzOTkyLCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.2Y10TiejY2YYCZvaMP1k2F4Xl4m9aLQIHBd5yTwhnuA"
headers = {
    'Authorization': f'Bearer {token}'
}

for date in dates:
    response = requests.get(f'https://research-api.solarkim.com/data/cmpt-2024/smp-da/{date}', headers=headers)
    daily_data = response.json()
    daily_df = pd.DataFrame(daily_data)
    data_frames.append(daily_df)

smp_da_combined_df = pd.concat(data_frames, ignore_index=True)
smp_da_combined_df

             ts  smp_da
0    1729612800  219.19
1    1729616400  209.55
2    1729620000    0.00
3    1729623600    0.00
4    1729627200    0.00
..          ...     ...
187  1730286000  116.32
188  1730289600  117.33
189  1730293200  100.89
190  1730296800  116.03
191  1730300400  111.96

[192 rows x 2 columns]

In [7]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29', '2024-10-30']
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzI5NTgzOTkyLCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.2Y10TiejY2YYCZvaMP1k2F4Xl4m9aLQIHBd5yTwhnuA"
headers = {'Authorization': f'Bearer {token}'}

def fetch_data(endpoint, date):
    url = f'https://research-api.solarkim.com/data/cmpt-2024/{endpoint}/{date}'
    response = requests.get(url, headers=headers)
    return response.json()

weather_forecast_1_dfs = []
weather_forecast_2_dfs = []

for date in dates:
    data = fetch_data('weather-forecast', date)
    weather_forecast_1_dfs.append(pd.DataFrame(data['weather_forecast_1']))
    weather_forecast_2_dfs.append(pd.DataFrame(data['weather_forecast_2']))

weather_forecast_1_combined_df = pd.concat(weather_forecast_1_dfs, ignore_index=True)
weather_forecast_2_combined_df = pd.concat(weather_forecast_2_dfs, ignore_index=True)

display(weather_forecast_1_combined_df)
display(weather_forecast_2_combined_df)

,base_ts,ts,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_spd,wind_dir,wind_gust_spd,rel_hum,...,precip_prob,rain_prob,snow_prob,ice_prob,total_liq,rain,snow,ice,cld_cvr,location
0,1729648800,1729695600,16.6667,13.8889,13.8889,11.1111,20.4387,11.0,42.6476,71.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,2.0,Ilgwa-ri
1,1729648800,1729699200,16.6667,13.8889,13.3333,11.1111,20.4387,11.0,42.6476,72.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,2.0,Ilgwa-ri
2,1729648800,1729702800,16.1111,13.8889,13.3333,11.1111,22.2089,9.0,44.4179,72.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,2.0,Ilgwa-ri
3,1729648800,1729706400,16.1111,13.3333,13.3333,11.1111,22.2089,8.0,44.4179,72.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,2.0,Ilgwa-ri
4,1729648800,1729710000,16.1111,13.3333,13.3333,11.1111,22.2089,9.0,44.4179,73.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.0,0.0,3.0,Ilgwa-ri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,1730253600,1730372400,20.5556,18.8889,18.8889,17.2222,22.2089,80.0,38.9461,81.0,...,27.0,27.0,0.0,0.0,0.000,0.000,0.0,0.0,100.0,Sangmo-ri
1796,1730253600,1730376000,20.0000,18.3333,18.3333,17.2222,22.2089,83.0,40.7164,85.0,...,33.0,33.0,0.0,0.0,0.000,0.000,0.0,0.0,100.0,Sangmo-ri
1797,1730253600,1730379600,20.5556,18.8889,18.8889,17.7778,24.1402,85.0,40.7164,84.0,...,49.0,49.0,0.0,0.0,0.000,0.000,0.0,0.0,100.0,Sangmo-ri
1798,1730253600,1730383200,20.5556,17.2222,18.8889,17.7778,25.9104,89.0,38.9461,84.0,...,57.0,57.0,0.0,0.0,1.016,1.016,0.0,0.0,100.0,Sangmo-ri
1799,1730253600,1730386800,20.5556,16.1111,18.8889,18.3333,27.8417,92.0,38.9461,85.0,...,65.0,65.0,0.0,0.0,5.588,5.588,0.0,0.0,100.0,Sangmo-ri

,base_ts,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow,location
0,1729648800,1729695600,0.0,16.96,16.96,16.96,63.0,1021.0,6.52,7.0,0.0,0.0,Gaigeturi
1,1729648800,1729699200,0.0,16.97,16.97,16.97,64.0,1020.0,7.05,6.0,0.0,0.0,Gaigeturi
2,1729648800,1729702800,0.0,16.98,16.98,16.98,64.0,1020.0,7.26,8.0,0.0,0.0,Gaigeturi
3,1729648800,1729706400,0.0,16.90,16.90,16.90,64.0,1020.0,7.04,11.0,0.0,0.0,Gaigeturi
4,1729648800,1729710000,0.0,16.82,16.82,16.82,64.0,1019.0,7.30,11.0,0.0,0.0,Gaigeturi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,1730253600,1730372400,100.0,20.10,20.10,20.10,78.0,1022.0,5.83,98.0,0.0,0.0,Jeju
596,1730253600,1730376000,100.0,20.01,20.01,20.01,80.0,1021.0,5.68,100.0,0.0,0.0,Jeju
597,1730253600,1730379600,100.0,19.85,19.85,19.85,81.0,1021.0,5.54,102.0,0.0,0.0,Jeju
598,1730253600,1730383200,100.0,19.90,19.90,19.90,82.0,1021.0,5.30,103.0,0.0,0.0,Jeju
599,1730253600,1730386800,100.0,20.04,20.04,20.04,83.0,1021.0,4.63,105.0,0.0,0.0,Jeju

In [8]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29', '2024-10-30']
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzI5NTgzOTkyLCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.2Y10TiejY2YYCZvaMP1k2F4Xl4m9aLQIHBd5yTwhnuA"
headers = {'Authorization': f'Bearer {token}'}

def fetch_data(endpoint, date):
    url = f'https://research-api.solarkim.com/data/cmpt-2024/{endpoint}/{date}'
    response = requests.get(url, headers=headers)
    return response.json()

actual_weather_1_dfs = []
actual_weather_2_dfs = []

for date in dates:
    data = fetch_data('actual-weather', date)
    actual_weather_1_dfs.append(pd.DataFrame(data['actual_weather_1']))
    actual_weather_2_dfs.append(pd.DataFrame(data['actual_weather_2']))

actual_weather_1_combined_df = pd.concat(actual_weather_1_dfs, ignore_index=True)
actual_weather_2_combined_df = pd.concat(actual_weather_2_dfs, ignore_index=True)

display(actual_weather_1_combined_df)
display(actual_weather_2_combined_df)

,ts,temp,real_feel_temp,real_feel_temp_shade,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,pressure,appr_temp,wind_chill_temp,wet_bulb_temp,precip_1h,location
0,1729609320,19.9,16.6,16.6,83.0,16.9,315.0,28.1,47.8,0.0,14.5,77.0,579.0,1013.2,20.0,20.0,18.0,0.1,Ilgwa-ri
1,1729612920,19.6,16.9,16.9,80.0,16.0,315.0,24.9,63.0,0.0,22.5,83.0,1798.0,1013.5,20.0,19.4,17.4,0.1,Ilgwa-ri
2,1729616160,18.8,16.0,16.0,79.0,15.2,315.0,25.9,58.0,0.0,16.1,68.0,1798.0,1016.0,20.0,18.9,16.7,0.0,Ilgwa-ri
3,1729616520,19.3,16.5,16.5,77.0,15.2,315.0,25.9,58.0,0.0,16.1,68.0,579.0,1013.9,19.4,19.4,16.8,0.0,Ilgwa-ri
4,1729619760,18.6,16.4,16.4,73.0,13.8,315.0,26.3,48.7,0.0,16.1,78.0,1798.0,1016.0,19.4,18.3,15.8,0.0,Ilgwa-ri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,1730289720,18.8,17.2,17.2,64.0,12.0,293.0,13.3,15.7,0.0,16.1,59.0,10363.0,1020.7,19.4,18.9,14.9,0.0,Sangmo-ri
2126,1730293320,18.9,17.0,17.0,64.0,12.0,203.0,18.0,18.6,0.0,22.5,47.0,10058.0,1020.3,19.4,18.9,15.0,0.0,Sangmo-ri
2127,1730296620,19.4,18.4,18.4,63.0,12.3,270.0,5.4,13.8,0.0,14.5,85.0,10058.0,1022.0,19.4,19.4,15.3,0.0,Sangmo-ri
2128,1730296920,19.1,18.1,18.1,64.0,12.3,270.0,5.4,13.8,0.0,14.5,85.0,9144.0,1019.6,19.4,18.9,15.2,0.0,Sangmo-ri
2129,1730300160,20.2,18.3,18.3,63.0,12.9,113.0,19.5,19.5,0.0,14.5,89.0,9144.0,1021.0,19.4,20.0,16.0,0.0,Sangmo-ri

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow,location
0,1729609282,100.0,20.25,20.25,20.25,84.0,1016.0,10.37,309.0,0.79,0.0,Gaigeturi
1,1729611047,75.0,20.03,20.03,20.03,77.0,1016.0,9.77,290.0,0.35,0.0,Gaigeturi
2,1729612873,100.0,20.32,20.32,20.32,76.0,1016.0,10.44,310.0,0.35,0.0,Gaigeturi
3,1729614646,75.0,19.03,19.03,19.03,82.0,1017.0,12.35,300.0,0.00,0.0,Gaigeturi
4,1729616465,100.0,19.99,19.99,19.99,75.0,1017.0,11.01,308.0,0.00,0.0,Gaigeturi
...,...,...,...,...,...,...,...,...,...,...,...,...
1147,1730291451,0.0,17.96,17.96,17.96,63.0,1021.0,4.12,120.0,0.00,0.0,Jeju
1148,1730293267,79.0,18.90,18.90,18.90,70.0,1021.0,6.73,70.0,0.00,0.0,Jeju
1149,1730295062,0.0,17.96,17.96,17.96,68.0,1022.0,3.60,110.0,0.00,0.0,Jeju
1150,1730296869,89.0,19.08,19.08,19.08,71.0,1022.0,7.13,73.0,0.00,0.0,Jeju
1151,1730298643,0.0,17.96,17.96,17.96,68.0,1021.0,5.14,110.0,0.00,0.0,Jeju

In [9]:
weather_forecast_1 = pd.concat([weather_forecast_1, weather_forecast_1_combined_df], ignore_index=True)
weather_forecast_2 = pd.concat([weather_forecast_2, weather_forecast_2_combined_df], ignore_index=True)
weather_actual_1 = pd.concat([weather_actual_1, actual_weather_1_combined_df], ignore_index=True)
weather_actual_2 = pd.concat([weather_actual_2, actual_weather_2_combined_df], ignore_index=True)
price_real_time = pd.concat([price_real_time, smp_rt_rc_combined_df], ignore_index=True)
price_day_ahead = pd.concat([price_day_ahead, smp_da_combined_df], ignore_index=True)
market_status = pd.concat([market_status, elec_combined_df], ignore_index=True)

In [10]:
def convert_columns(df):
    for col in df.columns:
        if col == 'ts' :
            df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')  # ts는 Int64형으로 변환
        else:
            df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)  # 나머지는 float형으로 변환
    return df  

weather_forecast_1 = convert_columns(weather_forecast_1)
weather_forecast_2 = convert_columns(weather_forecast_2)
weather_actual_1 = convert_columns(weather_actual_1)
weather_actual_2 = convert_columns(weather_actual_2)
price_real_time = convert_columns(price_real_time)
price_day_ahead = convert_columns(price_day_ahead)
market_status = convert_columns(market_status)

In [11]:
weather_forecast_1 = weather_forecast_1.drop(columns=['location'], errors='ignore')
weather_forecast_2 = weather_forecast_2.drop(columns=['location'], errors='ignore')
weather_actual_1 = weather_actual_1.drop(columns=['location'], errors='ignore')
weather_actual_2 = weather_actual_2.drop(columns=['location'], errors='ignore')

weather_forecast_1 = weather_forecast_1.drop(columns=['base_ts'], errors='ignore')
weather_forecast_2 = weather_forecast_2.drop(columns=['base_ts'], errors='ignore')

In [12]:
threshold_ts = 1730250600

for df in [weather_actual_1, weather_actual_2, market_status]:
    df.drop(df[df['ts'] > threshold_ts].index, inplace=True)

In [13]:
print("weather_forecast_1 columns:")
print(weather_forecast_1.columns)

print("\nweather_forecast_2 columns:")
print(weather_forecast_2.columns)

weather_forecast_1 columns:
Index(['ts', 'temp', 'real_feel_temp', 'wet_bulb_temp', 'dew_point',
       'wind_dir', 'wind_spd', 'wind_gust_spd', 'rel_hum', 'vis', 'ceiling',
       'uv_idx', 'precip_prob', 'rain_prob', 'snow_prob', 'ice_prob',
       'total_liq', 'rain', 'snow', 'ice', 'cld_cvr'],
      dtype='object')

weather_forecast_2 columns:
Index(['ts', 'cloud', 'temp', 'temp_max', 'temp_min', 'humidity',
       'ground_press', 'wind_speed', 'wind_dir', 'rain', 'snow'],
      dtype='object')

In [14]:
# 각 데이터 프레임에 대해 결측치가 포함된 행만 출력
dataframes = {
    "weather_forecast_1": weather_forecast_1,
    "weather_forecast_2": weather_forecast_2,
    "weather_actual_1": weather_actual_1,
    "weather_actual_2": weather_actual_2,
    "price_real_time": price_real_time,
    "price_day_ahead": price_day_ahead,
    "market_status": market_status
}

for name, df in dataframes.items():
    print(f"\nDataFrame: {name}")
    # 결측치가 있는 행만 선택
    missing_rows = df[df.isnull().any(axis=1)]
    display(missing_rows)

DataFrame: weather_forecast_1

,ts,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,vis,...,uv_idx,precip_prob,rain_prob,snow_prob,ice_prob,total_liq,rain,snow,ice,cld_cvr
5925,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11851,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17777,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23703,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29629,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35555,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41481,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47407,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: weather_forecast_2

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
5925,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11851,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: weather_actual_1

,ts,temp,real_feel_temp,real_feel_temp_shade,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,pressure,appr_temp,wind_chill_temp,wet_bulb_temp,precip_1h
7933,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13959,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21944,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28133,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36827,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42840,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50575,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56810,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: weather_actual_2

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
11332,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22672,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: price_real_time

Empty DataFrame
Columns: [ts, smp_rt, smp_rc]
Index: []

DataFrame: price_day_ahead

Empty DataFrame
Columns: [ts, smp_da]
Index: []

DataFrame: market_status

Empty DataFrame
Columns: [ts, supply_power, present_load, power_solar, power_wind, renewable_energy_total, supply_capacity, operation_capacity]
Index: []

In [15]:
print("price_real_time columns:", price_real_time.columns)
print("market_status columns:", market_status.columns)

price_real_time columns: Index(['ts', 'smp_rt', 'smp_rc'], dtype='object')
market_status columns: Index(['ts', 'supply_power', 'present_load', 'power_solar', 'power_wind',
       'renewable_energy_total', 'supply_capacity', 'operation_capacity'],
      dtype='object')

In [16]:
def drop_missing_rows(df):
    return df.dropna(subset=['ts'])

# 각 데이터프레임에서 결측치가 있는 행을 제거
weather_forecast_1 = drop_missing_rows(weather_forecast_1)
weather_forecast_2 = drop_missing_rows(weather_forecast_2)
weather_actual_1 = drop_missing_rows(weather_actual_1)
weather_actual_2 = drop_missing_rows(weather_actual_2)
price_real_time = drop_missing_rows(price_real_time)
price_day_ahead = drop_missing_rows(price_day_ahead)
market_status = drop_missing_rows(market_status)

# 주요 코드

In [17]:
def round_to_nearest_hour_and_average(df):
    # 'ts'를 datetime으로 변환하고 한국시간(KST, UTC+9)으로 조정
    df.loc[:, 'ts'] = pd.to_datetime(df['ts'], unit='s') + pd.Timedelta(hours=9)
    
    # 정각으로 반올림
    df.loc[:, 'rounded_ts'] = df['ts'].dt.round('h')
    
    # 'rounded_ts'로 그룹화하여 평균 계산
    df_mean = df.groupby('rounded_ts').mean().reset_index()

    # 평균 계산된 데이터프레임에서 'ts'를 UNIX timestamp로 변환
    df_mean['ts'] = (df_mean['rounded_ts'].astype('int64') // 10**9).astype(int)  # int64로 변환

    # 기존 'rounded_ts' 열 제거
    df_mean.drop(columns=['rounded_ts'], inplace=True)
    
    return df_mean

# 두 테이블에 함수 적용
weather_actual_1 = round_to_nearest_hour_and_average(weather_actual_1)
weather_actual_2 = round_to_nearest_hour_and_average(weather_actual_2)

# 결과 확인
display(weather_actual_1)
display(weather_actual_2)

C:\Users\언종\AppData\Local\Temp\ipykernel_3272\2568220704.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<DatetimeArray>
['2024-03-01 00:57:00', '2024-03-01 01:03:00', '2024-03-01 02:02:00',
 '2024-03-01 02:57:00', '2024-03-01 03:04:00', '2024-03-01 03:57:00',
 '2024-03-01 04:57:00', '2024-03-01 05:57:00', '2024-03-01 07:02:00',
 '2024-03-01 07:57:00',
 ...
 '2024-10-30 02:02:00', '2024-10-30 03:02:00', '2024-10-30 04:02:00',
 '2024-10-30 05:02:00', '2024-10-30 06:02:00', '2024-10-30 06:56:00',
 '2024-10-30 07:02:00', '2024-10-30 08:02:00', '2024-10-30 09:03:00',
 '2024-10-30 10:02:00']
Length: 66637, dtype: datetime64[ns]' has dtype incompatible with Int64, please explicitly cast to a compatible dtype first.
  df.loc[:, 'ts'] = pd.to_datetime(df['ts'], unit='s') + pd.Timedelta(hours=9)
C:\Users\언종\AppData\Local\Temp\ipykernel_3272\2568220704.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'rounded_ts'] = df['ts'].dt.round('h')
C:\Users\언종\AppData\Local\Temp\ipykernel_3272\2568220704.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<DatetimeArray>
['2024-03-01 00:00:56', '2024-03-01 00:31:04', '2024-03-01 01:00:54',
 '2024-03-01 01:31:16', '2024-03-01 02:00:58', '2024-03-01 02:31:18',
 '2024-03-01 03:00:42', '2024-03-01 03:31:29', '2024-03-01 04:00:57',
 '2024-03-01 04:30:44',
 ...
 '2024-10-30 05:28:59', '2024-10-30 06:01:04', '2024-10-30 06:31:11',
 '2024-10-30 07:00:57', '2024-10-30 07:30:38', '2024-10-30 08:01:05',
 '2024-10-30 08:29:58', '2024-10-30 08:58:23', '2024-10-30 09:28:52',
 '2024-10-30 10:01:10']
Length: 35081, dtype: datetime64[ns]' has dtype incompatible with Int64, please explicitly cast to a compatible dtype first.
  df.loc[:, 'ts'] = pd.to_datetime(df['ts'], unit='s') + pd.Timedelta(hours=9)
C:\Users\언종\AppData\Local\Temp\ipykernel_3272\2568220704.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'rounded_ts'] = df['ts'].dt.round('h')

,ts,temp,real_feel_temp,real_feel_temp_shade,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,pressure,appr_temp,wind_chill_temp,wet_bulb_temp,precip_1h
0,1709251200,8.500000,8.000000,8.000000,81.000000,5.500000,270.000000,6.100000,17.600000,0.000000,20.900000,91.000000,579.000000,1015.900000,10.000000,7.200000,7.100000,0.100000
1,1709254800,7.158333,3.041667,3.041667,72.666667,2.508333,234.666667,20.483333,26.366667,0.000000,20.783333,97.750000,693.416667,1021.125000,8.616667,4.041667,5.091667,0.008333
2,1709258400,6.477778,2.111111,2.111111,75.666667,2.433333,262.888889,21.944444,27.433333,0.000000,20.033333,86.333333,616.222222,1018.666667,7.644444,2.966667,4.733333,0.011111
3,1709262000,6.045455,0.900000,0.900000,74.545455,1.663636,213.000000,22.490909,27.645455,0.000000,19.900000,62.818182,8692.363636,1021.500000,7.218182,2.518182,4.209091,0.136364
4,1709265600,5.430000,-0.090000,-0.090000,68.100000,-0.030000,256.800000,26.140000,42.440000,0.000000,23.800000,38.100000,10911.800000,1023.470000,6.440000,1.450000,3.180000,0.410000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5838,1730268000,18.227273,17.154545,17.154545,78.181818,14.381818,88.090909,12.290909,14.936364,0.000000,21.663636,68.181818,8700.636364,1018.172727,19.336364,18.181818,15.990909,0.000000
5839,1730271600,17.975000,17.100000,17.100000,76.083333,13.658333,80.750000,12.258333,15.791667,0.000000,23.458333,61.250000,7747.000000,1018.950000,19.150000,18.000000,15.500000,0.000000
5840,1730275200,18.190909,17.936364,17.509091,77.000000,14.072727,94.272727,11.490909,13.236364,0.727273,22.245455,72.727273,8949.909091,1018.654545,19.118182,18.163636,15.790909,0.000000
5841,1730278800,18.891667,19.025000,17.425000,75.333333,14.458333,77.083333,14.841667,17.766667,1.666667,24.816667,40.333333,10807.583333,1018.983333,19.550000,18.875000,16.266667,0.000000
5842,1730282400,19.800000,20.244444,18.155556,68.222222,13.822222,50.222222,14.400000,17.022222,2.666667,26.088889,64.222222,9313.333333,1019.000000,19.655556,19.744444,16.266667,0.000000

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
0,1709251200,89.333333,6.146667,6.146667,6.146667,74.666667,1022.666667,8.553333,345.333333,0.17,0.0
1,1709254800,83.500000,6.255000,6.255000,6.255000,70.500000,1022.500000,6.256667,342.000000,0.00,0.0
2,1709258400,84.333333,5.926667,5.926667,5.926667,67.833333,1022.833333,7.291667,343.000000,0.21,0.0
3,1709262000,83.666667,5.198333,5.198333,5.198333,63.833333,1023.500000,7.520000,342.333333,0.00,0.0
4,1709265600,42.166667,4.433333,4.433333,4.433333,64.833333,1023.833333,7.330000,342.000000,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
5838,1730268000,90.000000,16.958000,16.958000,16.958000,75.400000,1020.000000,3.700000,30.000000,0.00,0.0
5839,1730271600,78.000000,17.181667,17.181667,17.181667,73.166667,1021.000000,3.365000,30.166667,0.00,0.0
5840,1730275200,59.000000,16.764286,16.764286,16.764286,76.142857,1021.428571,3.500000,63.714286,0.00,0.0
5841,1730278800,62.666667,17.830000,17.830000,17.830000,70.833333,1021.833333,4.086667,50.000000,0.00,0.0
5842,1730282400,89.800000,17.938000,17.938000,17.938000,66.800000,1021.200000,4.848000,32.800000,0.00,0.0

In [18]:
dataframes = [
    weather_forecast_1,
    weather_forecast_2,
    weather_actual_1,
    weather_actual_2,
    price_real_time,
    market_status,
]

# price_day_ahead를 복사하여 새로운 데이터프레임 생성
merged_df = price_day_ahead.copy()

# 각 데이터프레임을 병합
for df in dataframes:
    # 중복된 ts 값 제거 (최초로 나오는 값만 남김)
    df = df.drop_duplicates(subset=['ts'])

    merged_df = pd.merge(merged_df, df, on='ts', how='left', suffixes=('', '_dup'))

    for column in df.columns:
        if column != 'ts' and column in merged_df.columns and f"{column}_dup" in merged_df.columns:
            # 겹치는 칼럼의 평균 계산
            merged_df[column] = merged_df[[column, f"{column}_dup"]].mean(axis=1)
            # 중복 칼럼 제거
            merged_df.drop(columns=[f"{column}_dup"], inplace=True)

# 결과 확인
print(merged_df.shape)  # merged_df의 행 수 확인
display(merged_df)

(5857, 42)

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,precip_1h,smp_rt,smp_rc,supply_power,present_load,power_solar,power_wind,renewable_energy_total,supply_capacity,operation_capacity
0,1709218800,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,95.30,95.30,1388000.0,798000.0,0.0,234165.0,248660.0,590000.0,266000.0
1,1709222400,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,107.39,107.39,1367000.0,765000.0,0.0,210320.0,226351.0,602000.0,277000.0
2,1709226000,95.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,95.30,95.30,1403000.0,736000.0,0.0,245230.0,261327.0,666000.0,342000.0
3,1709229600,87.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,87.89,87.89,1376000.0,727000.0,0.0,225240.0,239324.0,649000.0,323000.0
4,1709233200,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,86.50,86.50,1362000.0,741000.0,0.0,209575.0,223575.0,621000.0,297000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5852,1730286000,116.32,19.75500,17.7778,16.1111,13.3333,51.5,20.4387,40.7164,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5853,1730289600,117.33,19.57720,17.2222,15.5556,13.3333,57.5,20.4387,40.7164,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5854,1730293200,100.89,19.32945,17.2222,15.5556,13.3333,60.0,20.4387,37.0149,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5855,1730296800,116.03,19.28445,16.6667,15.5556,13.3333,59.0,20.4387,33.3134,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5856,1730300400,111.96,19.01665,16.6667,15.5556,13.3333,58.0,20.4387,31.5431,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# smp_rc 열의 NaN 값을 smp_da 열의 값으로 채우기
merged_df['smp_rc'] = merged_df['smp_rc'].fillna(merged_df['smp_da'])
# smp_rt 열 제거
merged_df = merged_df.drop(columns=['smp_rt'])

In [20]:
missing_rows = merged_df[merged_df.isna().any(axis=1)]
missing_rows

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,wind_chill_temp,precip_1h,smp_rc,supply_power,present_load,power_solar,power_wind,renewable_energy_total,supply_capacity,operation_capacity
0,1709218800,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,95.30,1388000.0,798000.0,0.0,234165.0,248660.0,590000.0,266000.0
1,1709222400,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,107.39,1367000.0,765000.0,0.0,210320.0,226351.0,602000.0,277000.0
2,1709226000,95.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,95.30,1403000.0,736000.0,0.0,245230.0,261327.0,666000.0,342000.0
3,1709229600,87.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,87.89,1376000.0,727000.0,0.0,225240.0,239324.0,649000.0,323000.0
4,1709233200,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,86.50,1362000.0,741000.0,0.0,209575.0,223575.0,621000.0,297000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5852,1730286000,116.32,19.75500,17.7778,16.1111,13.3333,51.5,20.4387,40.7164,64.0,...,NaN,NaN,116.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5853,1730289600,117.33,19.57720,17.2222,15.5556,13.3333,57.5,20.4387,40.7164,67.0,...,NaN,NaN,117.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5854,1730293200,100.89,19.32945,17.2222,15.5556,13.3333,60.0,20.4387,37.0149,69.0,...,NaN,NaN,100.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5855,1730296800,116.03,19.28445,16.6667,15.5556,13.3333,59.0,20.4387,33.3134,70.0,...,NaN,NaN,116.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5856,1730300400,111.96,19.01665,16.6667,15.5556,13.3333,58.0,20.4387,31.5431,73.0,...,NaN,NaN,111.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
threshold = merged_df.shape[1] / 2  # 열의 절반 개수 계산
merged_df = merged_df.dropna(thresh=threshold).reset_index(drop=True)

In [22]:
missing_rows = merged_df[merged_df.isna().any(axis=1)]
missing_rows

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,wind_chill_temp,precip_1h,smp_rc,supply_power,present_load,power_solar,power_wind,renewable_energy_total,supply_capacity,operation_capacity
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,7.200000,0.100000,111.67,1499000.0,670000.0,91584.2,250415.0,358095.0,830000.0,480000.0
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,4.041667,0.008333,109.57,1539000.0,700000.0,148528.0,232849.0,396974.0,839000.0,473000.0
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,2.966667,0.011111,-73.88,1507000.0,717000.0,148727.0,202607.0,365198.0,790000.0,441000.0
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,2.518182,0.136364,-73.88,1554000.0,711000.0,184734.0,212766.0,411399.0,842000.0,478000.0
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,1.450000,0.410000,0.00,1538000.0,726000.0,158618.0,221596.0,395670.0,811000.0,435000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,1730286000,116.32,19.755000,17.777800,16.111100,13.333300,51.500000,20.438700,40.716400,64.000000,...,NaN,NaN,116.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5844,1730289600,117.33,19.577200,17.222200,15.555600,13.333300,57.500000,20.438700,40.716400,67.000000,...,NaN,NaN,117.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5845,1730293200,100.89,19.329450,17.222200,15.555600,13.333300,60.000000,20.438700,37.014900,69.000000,...,NaN,NaN,100.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5846,1730296800,116.03,19.284450,16.666700,15.555600,13.333300,59.000000,20.438700,33.313400,70.000000,...,NaN,NaN,116.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5847,1730300400,111.96,19.016650,16.666700,15.555600,13.333300,58.000000,20.438700,31.543100,73.000000,...,NaN,NaN,111.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
merged_df = merged_df.sort_values(by='ts')
merged_df = merged_df.fillna(merged_df.shift(24))

In [24]:
missing_columns = merged_df.columns[merged_df.isnull().any()].tolist()

print("결측치가 있는 칼럼들:")
print(missing_columns)

결측치가 있는 칼럼들:
['precip_prob', 'rain_prob', 'snow_prob', 'ice_prob', 'total_liq', 'ice', 'supply_power', 'present_load', 'power_solar', 'power_wind', 'renewable_energy_total', 'supply_capacity', 'operation_capacity']

In [25]:
missing_rows = merged_df[merged_df.isna().any(axis=1)]
missing_rows

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,wind_chill_temp,precip_1h,smp_rc,supply_power,present_load,power_solar,power_wind,renewable_energy_total,supply_capacity,operation_capacity
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,7.200000,0.100000,111.67,1499000.0,670000.0,91584.20,250415.0,358095.0,830000.0,480000.0
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,4.041667,0.008333,109.57,1539000.0,700000.0,148528.00,232849.0,396974.0,839000.0,473000.0
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,2.966667,0.011111,-73.88,1507000.0,717000.0,148727.00,202607.0,365198.0,790000.0,441000.0
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,2.518182,0.136364,-73.88,1554000.0,711000.0,184734.00,212766.0,411399.0,842000.0,478000.0
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,1.450000,0.410000,0.00,1538000.0,726000.0,158618.00,221596.0,395670.0,811000.0,435000.0
5,1709269200,95.91,4.170000,-0.440000,2.930000,0.250000,286.650000,23.370000,30.660000,74.100000,...,0.560000,0.000000,95.91,1506000.0,755000.0,111462.00,240687.0,365535.0,752000.0,399000.0
6,1709272800,95.91,3.864697,-0.409091,2.690909,0.090909,264.522727,21.127273,28.427273,75.272727,...,0.872727,0.000000,95.91,1502000.0,757000.0,111934.00,233044.0,359575.0,744000.0,393000.0
7,1709276400,98.25,3.430584,-1.572727,1.590909,-1.627273,262.727273,23.945455,30.590909,68.727273,...,-0.718182,0.000000,98.25,1481000.0,786000.0,89724.30,234083.0,338934.0,695000.0,473000.0
8,1709280000,100.21,2.873364,-1.609091,2.227273,-0.245455,277.409091,27.672727,34.063636,77.000000,...,-0.772727,0.000000,100.21,1433000.0,841000.0,46223.90,231374.0,291671.0,592000.0,493000.0
9,1709283600,128.34,2.825455,-0.390909,1.800000,-1.418182,268.439394,24.445455,29.127273,70.272727,...,-0.600000,0.000000,128.34,1377000.0,950000.0,14337.80,208367.0,235996.0,427000.0,328000.0
10,1709287200,109.57,3.109167,0.241667,1.150000,-2.850000,278.041667,25.258333,33.583333,62.333333,...,-0.641667,0.000000,174.45,1387000.0,990000.0,5984.52,221606.0,242835.0,397000.0,286000.0
11,1709290800,109.83,2.690833,-1.100000,1.375000,-1.941667,303.208333,30.891667,35.358333,68.833333,...,-1.733333,0.000000,109.83,1373000.0,978000.0,3432.75,211743.0,229656.0,395000.0,285000.0
12,1709294400,109.83,2.889167,-0.283333,1.375000,-2.691667,298.000000,30.558333,49.641667,62.833333,...,-1.250000,0.000000,174.59,1362000.0,956000.0,1026.23,203748.0,219825.0,407000.0,295000.0
13,1709298000,110.35,2.972727,-0.654545,0.972727,-3.790909,300.310606,33.036364,45.909091,58.363636,...,-1.245455,0.000000,110.35,1380000.0,945000.0,0.00,223455.0,238656.0,435000.0,333000.0
14,1709301600,112.19,2.845064,-0.961538,1.292308,-2.584615,298.910256,29.361538,54.946154,64.076923,...,-1.107692,0.000000,173.94,1353000.0,922000.0,0.00,192801.0,208846.0,431000.0,329000.0
1824,1715817600,-77.48,14.589725,15.672800,11.571650,7.955000,296.700000,20.177850,35.536700,58.900000,...,14.040000,0.000000,134.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1825,1715821200,-79.06,15.114806,16.724736,11.812632,8.027800,295.659091,22.653000,48.211995,57.681818,...,14.372727,0.000000,-77.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1826,1715824800,-79.06,15.279579,15.541667,12.586117,9.523633,291.291667,24.185267,50.279033,63.541667,...,14.608333,0.000000,-79.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1827,1715828400,-79.06,15.579029,15.605000,12.287200,8.435550,297.550000,25.748750,47.603950,58.600000,...,14.830000,0.000000,-79.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1828,1715832000,-79.06,15.419863,16.616100,12.247200,8.763350,298.300000,26.983750,57.434550,58.700000,...,14.710000,0.000000,-79.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1829,1715835600,-79.06,15.525550,17.111100,12.197200,8.598350,297.675000,20.543750,40.549550,57.150000,...,14.720000,0.000000,-79.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1830,1715839200,-79.06,15.309446,15.915000,12.565000,8.793350,293.108333,21.248600,39.848800,59.300000,...,14.780000,0.000000,-70.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1831,1715842800,-79.06,15.540124,16.336758,12.576046,8.987196,296.349359,21.187831,43.250508,59.269231,...,15.607692,0.000000,134.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1832,1715846400,-2.00,15.855142,17.516650,12.797200,9.170850,281.312500,16.732167,32.938967,59.958333,...,16.433333,0.000000,146.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1833,1715850000,159.48,16.461525,17.118350,13.407200,9.908350,281.033333,17.287850,29.031550,62.550000,...,17.440000,0.000000,159.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1834,1715853600,133.45,17.033987,17.727800,13.249473,9.051532,278.590909,18.017850,32.659745,59.045455,...,18.490909,0.045455,155.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1835,1715857200,135.81,17.375819,17.245455,13.276268,9.642441,277.613636,19.411341,26.251168,60.863636,...,18.990909,0.000000,135.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1836,1715860800,135.57,17.591804,17.805000,13.444450,9.733350,266.991667,19.042250,25.173600,60.500000,...,19.450000,0.060000,135.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1837,1715864400,130.03,17.925283,18.504167,13.412483,10.079183,272.000000,19.046267,31.978000,62.583333,...,19.958333,0.091667,130.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,1715868000,124.65,17.984720,18.877800,13.629744,10.187571,261.887255,16.707372,23.785353,63.000000,...,20.100000,0.000000,124.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
merged_df = merged_df.fillna(merged_df.shift(-24))

In [27]:
missing_columns = merged_df.columns[merged_df.isnull().any()].tolist()

print("결측치가 있는 칼럼들:")
print(missing_columns)

결측치가 있는 칼럼들:
[]

In [28]:
merged_df = merged_df.copy()

# 'ts' 컬럼을 DateTime으로 변환하여 요일과 시간 정보를 구함 (한국 시간으로 변환)
merged_df['date'] = pd.to_datetime(merged_df['ts'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')
merged_df['weekday'] = merged_df['date'].dt.dayofweek  # Monday=0, Sunday=6

# 각 요일에 해당하는 1, 0 변수 추가
merged_df['월요일'] = (merged_df['weekday'] == 0).astype(int)  # 1이면 월요일, 0이면 다른 요일
merged_df['평일'] = merged_df['weekday'].isin(range(1, 5)).astype(int)  # 1이면 평일 (화~금), 0이면 월요일 및 주말
merged_df['주말'] = merged_df['weekday'].isin([5, 6]).astype(int)  # 1이면 주말 (토~일), 0이면 평일 및 월요일

# 공휴일 열 추가 (특정 공휴일 데이터를 기반으로 업데이트 가능)
merged_df['공휴일'] = 0

# 불필요한 'date'와 'weekday' 컬럼 삭제
merged_df = merged_df.drop(columns=['date', 'weekday'])

merged_df

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,present_load,power_solar,power_wind,renewable_energy_total,supply_capacity,operation_capacity,월요일,평일,주말,공휴일
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,670000.0,91584.20,250415.0,358095.0,830000.0,480000.0,0,1,0,0
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,700000.0,148528.00,232849.0,396974.0,839000.0,473000.0,0,1,0,0
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,717000.0,148727.00,202607.0,365198.0,790000.0,441000.0,0,1,0,0
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,711000.0,184734.00,212766.0,411399.0,842000.0,478000.0,0,1,0,0
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,726000.0,158618.00,221596.0,395670.0,811000.0,435000.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,1730286000,116.32,19.755000,17.777800,16.111100,13.333300,51.500000,20.438700,40.716400,64.000000,...,715000.0,6743.59,114604.0,133548.0,711000.0,389000.0,0,1,0,0
5844,1730289600,117.33,19.577200,17.222200,15.555600,13.333300,57.500000,20.438700,40.716400,67.000000,...,689000.0,4554.93,90693.8,108240.0,710000.0,388000.0,0,1,0,0
5845,1730293200,100.89,19.329450,17.222200,15.555600,13.333300,60.000000,20.438700,37.014900,69.000000,...,660000.0,1369.09,98105.0,113664.0,750000.0,426000.0,0,1,0,0
5846,1730296800,116.03,19.284450,16.666700,15.555600,13.333300,59.000000,20.438700,33.313400,70.000000,...,639000.0,0.00,83786.8,96374.6,754000.0,327000.0,0,1,0,0
5847,1730300400,111.96,19.016650,16.666700,15.555600,13.333300,58.000000,20.438700,31.543100,73.000000,...,596000.0,0.00,69552.4,83554.2,769000.0,357000.0,0,1,0,0

In [29]:
holiday_dates = [
    '2024-03-01', '2024-05-05', '2024-05-15', '2024-06-06',
    '2024-08-15', '2024-09-16', '2024-09-17', '2024-09-18',
    '2024-10-03', '2024-10-09'
]

# 'ts' 컬럼을 KST로 변환하여 날짜를 확인
merged_df['date'] = pd.to_datetime(merged_df['ts'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')
merged_df['공휴일'] = merged_df['date'].dt.strftime('%Y-%m-%d').isin(holiday_dates).astype(int)

# 'date' 컬럼이 필요 없으면 삭제
merged_df = merged_df.drop(columns=['date'])

In [30]:
merged_df

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,present_load,power_solar,power_wind,renewable_energy_total,supply_capacity,operation_capacity,월요일,평일,주말,공휴일
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,670000.0,91584.20,250415.0,358095.0,830000.0,480000.0,0,1,0,1
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,700000.0,148528.00,232849.0,396974.0,839000.0,473000.0,0,1,0,1
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,717000.0,148727.00,202607.0,365198.0,790000.0,441000.0,0,1,0,1
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,711000.0,184734.00,212766.0,411399.0,842000.0,478000.0,0,1,0,1
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,726000.0,158618.00,221596.0,395670.0,811000.0,435000.0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,1730286000,116.32,19.755000,17.777800,16.111100,13.333300,51.500000,20.438700,40.716400,64.000000,...,715000.0,6743.59,114604.0,133548.0,711000.0,389000.0,0,1,0,0
5844,1730289600,117.33,19.577200,17.222200,15.555600,13.333300,57.500000,20.438700,40.716400,67.000000,...,689000.0,4554.93,90693.8,108240.0,710000.0,388000.0,0,1,0,0
5845,1730293200,100.89,19.329450,17.222200,15.555600,13.333300,60.000000,20.438700,37.014900,69.000000,...,660000.0,1369.09,98105.0,113664.0,750000.0,426000.0,0,1,0,0
5846,1730296800,116.03,19.284450,16.666700,15.555600,13.333300,59.000000,20.438700,33.313400,70.000000,...,639000.0,0.00,83786.8,96374.6,754000.0,327000.0,0,1,0,0
5847,1730300400,111.96,19.016650,16.666700,15.555600,13.333300,58.000000,20.438700,31.543100,73.000000,...,596000.0,0.00,69552.4,83554.2,769000.0,357000.0,0,1,0,0

In [ ]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import tensorflow as tf
import xgboost as xgb

# 시드 고정
seed = 42
np.random.seed(seed)
tf.random.set_seed(seed)
random.seed(seed)

# 1. 데이터 준비 및 전처리
features = merged_df.drop(columns=['smp_da'])  # target인 'smp_da' 컬럼을 제외한 나머지
target = merged_df['smp_da']  # 예측하고자 하는 하루전 SMP

# Feature Scaling
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(features)

# 2. 시계열 데이터를 만들기 위한 함수 정의
def create_sequences(data, target, window_size=24):
    X, y = [], []
    for i in range(len(data) - window_size):
        X.append(data[i:i+window_size])
        y.append(target[i+window_size])
    return np.array(X), np.array(y)

# 시계열 데이터 생성
window_size = 24
X, y = create_sequences(features_scaled, target.values, window_size)

# 3. Train-Test Split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, shuffle=False, random_state=seed)

# 4. LSTM 모델 정의 및 학습
lstm_model = Sequential([
    LSTM(50, input_shape=(window_size, X_train.shape[2]), return_sequences=True),
    LSTM(32),
    Dense(1)
])
lstm_model.compile(optimizer='adam', loss='mse')

# 학습
lstm_model.fit(X_train, y_train, epochs=15, validation_data=(X_val, y_val), batch_size=16)

# LSTM 모델을 통해 시계열 feature를 학습하여 임베딩된 특성 추출
lstm_features = lstm_model.predict(X)  # 모든 데이터에 대해 LSTM 임베딩을 추출

# 5. XGBoost 모델 학습
X_full = np.hstack((lstm_features, features_scaled[window_size:]))
X_train_full, X_test_full = X_full[:-24], X_full[-24:]
y_train_full = y[window_size:]

# XGBoost 시드 설정
xgb_model = xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=6, random_state=seed)
xgb_model.fit(X_train_full, y_train_full)

# 6. 예측 수행: 30일 하루전 SMP 예측
smp_predictions = xgb_model.predict(X_test_full)

# 예측 결과 확인
print("31일 예측 SMP (1시간 간격):", smp_predictions)

C:\Users\Administrator\anaconda\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 21s 32ms/step - loss: 17036.7734 - val_loss: 13286.7754
Epoch 2/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 8s 27ms/step - loss: 14189.3779 - val_loss: 11309.7578
Epoch 3/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 8s 27ms/step - loss: 12240.3633 - val_loss: 9606.8320
Epoch 4/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 9s 31ms/step - loss: 10552.2529 - val_loss: 8128.6479
Epoch 5/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 8s 27ms/step - loss: 9083.3799 - val_loss: 6848.3213
Epoch 6/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 9s 29ms/step - loss: 7808.8193 - val_loss: 5745.7217
Epoch 7/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 8s 28ms/step - loss: 6709.3096 - val_loss: 4803.9561
Epoch 8/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 8s 28ms/step - loss: 5768.4766 - val_loss: 4008.0391
Epoch 9/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 9s 29ms/step - loss: 4971.6924 - val_loss: 3344.2021
Epoch 10/15
292/292 ━━━━━━━━━━━━━━━━━━━━ 8s 27ms/step - loss: 4305.4536 - val_loss: 2799.4424
Epoch 11/15
226/292 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - loss: 3801.4258

In [ ]:
import requests

date = '2024-10-31'
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzI5NTgzOTkyLCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.2Y10TiejY2YYCZvaMP1k2F4Xl4m9aLQIHBd5yTwhnuA"

smp_da = requests.get(f'https://research-api.solarkim.com/data/cmpt-2024/smp-da/{date}', headers={
                            'Authorization': f'Bearer {token}'
                        }).json()
print(smp_da)

In [ ]:
smp_da = pd.DataFrame(smp_da)
smp_da

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timezone, timedelta

# 첫 번째 데이터프레임 생성 (df1)
data1 = {
    'ts': [
        1730304000, 1730307600, 1730311200, 1730314800, 1730318400, 1730322000,
        1730325600, 1730329200, 1730332800, 1730336400, 1730340000, 1730343600,
        1730347200, 1730350800, 1730354400, 1730358000, 1730361600, 1730365200,
        1730368800, 1730372400, 1730376000, 1730379600, 1730383200, 1730386800
    ],
    'smp_da': [
        100.68, 92.24, 91.76, 91.77, 92.21, 99.85, 100.65, 105.16, 139.28, 139.33,
        140.45, 133.11, 104.87, 128.34, 147.98, 152.55, 139.33, 135.29, 135.30,
        135.30, 130.87, 132.91, 105.14, 105.14
    ]
}
df1 = pd.DataFrame(data1)

# 두 번째 데이터프레임 생성 (df2 - 업데이트된 smp_da 값 사용)
data2 = {
    'ts': [
        1730304000, 1730307600, 1730311200, 1730314800, 1730318400, 1730322000,
        1730325600, 1730329200, 1730332800, 1730336400, 1730340000, 1730343600,
        1730347200, 1730350800, 1730354400, 1730358000, 1730361600, 1730365200,
        1730368800, 1730372400, 1730376000, 1730379600, 1730383200, 1730386800
    ],
    'smp_da': [
        93.80188, 96.04881, 99.73097, 93.16278, 100.65697, 99.58263,
        95.92035, 113.19659, 124.895836, 127.95121, 116.635765, 122.75333,
        114.0975, 135.14014, 135.38875, 132.11885, 121.42454, 117.50983,
        119.83599, 106.76419, 117.022575, 115.3663, 116.44136, 117.63157
    ]
}
df2 = pd.DataFrame(data2)

# ts를 한국 시간(KST)으로 변환
kst = timezone(timedelta(hours=9))  # KST 시간대 설정
df1['ts'] = pd.to_datetime(df1['ts'], unit='s', utc=True).dt.tz_convert(kst)
df2['ts'] = pd.to_datetime(df2['ts'], unit='s', utc=True).dt.tz_convert(kst)

# 그래프 생성
plt.figure(figsize=(12, 6))
plt.plot(df1['ts'], df1['smp_da'], marker='o', linestyle='-', color='b', label='df1 smp_da')
plt.plot(df2['ts'], df2['smp_da'], marker='s', linestyle='--', color='r', label='df2 smp_da')
plt.xlabel('Timestamp (KST)')
plt.ylabel('SMP DA (smp_da)')
plt.title('Comparison of SMP DA over Time (KST)')
plt.xticks(rotation=45)
plt.grid(True)
plt.legend()
plt.tight_layout()
plt.show()