### Exercise 1
정수 리스트에 있는 중복된 요소들을 제거하고 리스트를 정렬시키는 프로그램을 작성해보자.

주어진 리스트 : [80, 20, 20, 30 , 60, 30]
정리된 리스트 : [20, 30, 60, 80]

In [4]:
a = [80, 20, 20, 30 , 60, 30]
a = set(a)
a = sorted(a)
a

[20, 30, 60, 80]

### Exercise 2
(x, x * x) 형식의 숫자(1과 10사이)를 포함하는 딕셔너리를 생성하고 출력하는 프로그램을 작성해보자.  
단, dictionary comprehension을 사용하기

{1:1, 2:4, 3:9, 4:16, 5:25, 6:36, 7:49, 8:64, 9:81, 10:100}

In [6]:
a = {x:x*x for x in range(1,11)}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Exercise 3
키/값 쌍인 3:30을 딕셔너리에 추가하는 프로그램을 작성해보자.

원래 딕셔너리 : {1:10, 2:20}
변경된 딕셔너리 : {1:10, 2:20, 3:30}

In [7]:
d = {1:10, 2:20}
d

{1: 10, 2: 20}

In [8]:
d[3] = 30
d

{1: 10, 2: 20, 3: 30}

### Exercise 4
다음과 같은 딕셔너리에서 주어진 키가 딕셔너리에 있는지 확인하기 위한 프로그램을 작성해보자.

d = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}

키를 입력하시오: 5
키 5는 딕셔너리에 있습니다.

In [9]:
d = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [20]:
key = int(input("키를 입력하시오 :"))

if key in d :
    print("키 %d는 딕셔너리에 있습니다."%key)

키를 입력하시오 :5
키 5는 딕셔너리에 있습니다.

### Exercise 5
키와 값을 저장하고 있는 2개의 리스트를 합쳐서 하나의 딕셔너리로 만드는 프로그램을 작성해보자.

colors = ["red", "green", "blue"]
values = ["#FF0000", "#008000", "#0000FF"]

{"red":"#FF0000", "green":"#008000", "blue":"#0000FF"}

In [13]:
colors = ["red", "green", "blue"]
values = ["#FF0000", "#008000", "#0000FF"]

In [22]:
a = {}

for i in range(3) :
    a[colors[i]] = values[i] 
a

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [91]:
for k, v in zip(colors, values):
    print(k, v)

red #FF0000
green #008000
blue #0000FF

### Exercise 6
set1, set2의 2개의 세트가 주어져 있다고 하자.    
set1 또는 set2, 어느 한쪽에만 있는 요소들을 추출하는 프로그램을 작성하라.

첫 번째 세트 {10, 20, 30, 40, 50, 60}
두 번째 세트 {30, 40, 50, 60, 70, 80}

어느 한쪽에만 있는 요소들 {10, 20, 70, 80}

In [24]:
a = {10, 20, 30, 40, 50, 60}
b = {30, 40, 50, 60, 70, 80}

In [44]:
c = a.union(b)
d = a.intersection(b)
e = c.difference(d)
e

{10, 20, 70, 80}

### Exercise 7

주어진 문자열에서 글자의 등장횟수를 딕셔너리를 이용하여 카운팅 및 정렬한다.

아래 주어진 string sequence는 사람의 유전자 일부분이다.  
해당 시퀀스에서 각 base가 몇번씩 존재하는지 개수를 측정하시오.  
단, 결과를 예시의 순서대로 출력해야 함  
단, dictionary를 이용하여 직접 개수를 파악, count()와 같은 메소드 등을 이용하지 않는다

cagctgaacaccctagtagtgctagccggcagcagtggctcctgagacctccacaccagagtcccgcacacattcaaggccaccacctccttcatgctcctctgtgatcacctctccaagtcccggtgtcaggagccttctctgtggccgccctggagagacttgagcctgggacgtgacgtgctgggctgtgaagctttctgagaagggaaacctgtggcctgacctgcctgaatgctgcacccaacctcatctcttcctgggaggcaggctctcttcgcttgtttttacaaatttgaaaccaacaactgtcagcattgacaccatcaggcctttctcttctaatttaaccttgcagccaaccacacggctatctgtgcgggatctctccccaagctcaaggacatgagatgcggatcaggcccaagaggctggatgccaaacctatcctctccatgtgaagcaccaacttgggggtgtcaactaaaaatatgagacccgtaaacttggaaaggaagactttatttcttgagaagggttgcaaactgcaggctgggaagtggcacctccagctgagaccacaaacagtggactttctcaaactggggtattgacctctgatgaaccgccatgcaaacccgtgcctttcaacataaaaagaagcccttcgaggtgctcaccttcaagcttgctagaggaggaggaagagcaggttgagtttgacataactagaatgggttgagcctttccagcagagtaaggttctttcatggtggacagtggccacccactgccatttctacaagaagattttgcttct

(1-mer)
a 203
c 226
g 198
t 193

(2-mer)
aa 59
ca 67
ga 58
ta 19
ac 53
cc 67
gc 53
tc 52
ag 62
cg 14
gg 54
tg 68
at 29
ct 78
gt 33
tt 53

In [57]:
string = """  1 cagctgaaca ccctagtagt gctagccggc agcagtggct cctgagacct ccacaccaga
       61 gtcccgcaca cattcaaggc caccacctcc ttcatgctcc tctgtgatca cctctccaag
      121 tcccggtgtc aggagccttc tctgtggccg ccctggagag acttgagcct gggacgtgac
      181 gtgctgggct gtgaagcttt ctgagaaggg aaacctgtgg cctgacctgc ctgaatgctg
      241 cacccaacct catctcttcc tgggaggcag gctctcttcg cttgttttta caaatttgaa
      301 accaacaact gtcagcattg acaccatcag gcctttctct tctaatttaa ccttgcagcc
      361 aaccacacgg ctatctgtgc gggatctctc cccaagctca aggacatgag atgcggatca
      421 ggcccaagag gctggatgcc aaacctatcc tctccatgtg aagcaccaac ttgggggtgt
      481 caactaaaaa tatgagaccc gtaaacttgg aaaggaagac tttatttctt gagaagggtt
      541 gcaaactgca ggctgggaag tggcacctcc agctgagacc acaaacagtg gactttctca
      601 aactggggta ttgacctctg atgaaccgcc atgcaaaccc gtgcctttca acataaaaag
      661 aagcccttcg aggtgctcac cttcaagctt gctagaggag gaggaagagc aggttgagtt
      721 tgacataact agaatgggtt gagcctttcc agcagagtaa ggttctttca tggtggacag
      781 tggccaccca ctgccatttc tacaagaaga ttttgcttct """

string = ''.join([i for i in string if not i.isdigit()])
string = string.replace('\n','')
string = string.replace(' ','')
string

'cagctgaacaccctagtagtgctagccggcagcagtggctcctgagacctccacaccagagtcccgcacacattcaaggccaccacctccttcatgctcctctgtgatcacctctccaagtcccggtgtcaggagccttctctgtggccgccctggagagacttgagcctgggacgtgacgtgctgggctgtgaagctttctgagaagggaaacctgtggcctgacctgcctgaatgctgcacccaacctcatctcttcctgggaggcaggctctcttcgcttgtttttacaaatttgaaaccaacaactgtcagcattgacaccatcaggcctttctcttctaatttaaccttgcagccaaccacacggctatctgtgcgggatctctccccaagctcaaggacatgagatgcggatcaggcccaagaggctggatgccaaacctatcctctccatgtgaagcaccaacttgggggtgtcaactaaaaatatgagacccgtaaacttggaaaggaagactttatttcttgagaagggttgcaaactgcaggctgggaagtggcacctccagctgagaccacaaacagtggactttctcaaactggggtattgacctctgatgaaccgccatgcaaacccgtgcctttcaacataaaaagaagcccttcgaggtgctcaccttcaagcttgctagaggaggaggaagagcaggttgagtttgacataactagaatgggttgagcctttccagcagagtaaggttctttcatggtggacagtggccacccactgccatttctacaagaagattttgcttct'

In [93]:
ch = {'a':0,'c':0,'g':0,'t':0}

for i in string :
    if i in ch :
        ch[i] += 1
print(ch)

    
kk = {'aa' :0, 'ca' :0, 'ga' :0, 'ta' :0, 'ac' :0, 'cc' :0, 'gc' :0, 'tc' :0, 'ag' :0, 'cg' : 0,
       'gg' :0, 'tg' :0, 'at' :0, 'ct' :0, 'gt' :0, 'tt' : 0 }

for i in range(len(string)-1) :
    if string[i:i+2] in kk :
        kk[string[i:i+2]] += 1

print(kk)

{'a': 203, 'c': 226, 'g': 198, 't': 193}
{'aa': 59, 'ca': 67, 'ga': 58, 'ta': 19, 'ac': 53, 'cc': 67, 'gc': 53, 'tc': 52, 'ag': 62, 'cg': 14, 'gg': 54, 'tg': 68, 'at': 29, 'ct': 78, 'gt': 33, 'tt': 53}

In [90]:
print('(1-mer)')
for i in ch :
    print(i,ch[i])
    
print()
print('(2-mer)')
for i in kk :
    print(i,kk[i])

(1-mer)
a 203
c 226
g 198
t 193

(2-mer)
aa 59
ca 67
ga 58
ta 19
ac 53
cc 67
gc 53
tc 52
ag 62
cg 14
gg 54
tg 68
at 29
ct 78
gt 33
tt 53

In [99]:
ch = {}

for i in string :
    if i in ch :
        ch[i] += 1
    else:
        ch[i] = 0
print(ch)

kk = {}

for i in range(len(string)-1) :
    if string[i:i+2] in kk :
        kk[string[i:i+2]] += 1
    else:
        kk[string[i:i+2]] = 0

print(kk)

{'c': 225, 'a': 202, 'g': 197, 't': 192}
{'ca': 66, 'ag': 61, 'gc': 52, 'ct': 77, 'tg': 67, 'ga': 57, 'aa': 58, 'ac': 52, 'cc': 66, 'ta': 18, 'gt': 32, 'cg': 13, 'gg': 53, 'tc': 51, 'at': 28, 'tt': 52}

In [101]:
lst = [(k, v) for k, v in ch.items()]
print(lst)
print(sorted(lst, key=lambda x:x[0]))

[('c', 225), ('a', 202), ('g', 197), ('t', 192)]
[('a', 202), ('c', 225), ('g', 197), ('t', 192)]